{% extends 'base.html' %}
{% load static %}

{% block content%}
<header class="masthead" style='background-image: url("{% static 'img/about.jpg' %}");'>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>I am the developer of this site Svetlana Rudneva. At the time of the creation of the site, I was a first-year student of the Faculty of Software Engineering.</p>
                <p>This site is designed for educational purposes, but nevertheless, this does not prevent you from using its services with pleasure.</p>
                <p>At the bottom of the site you can find a link to my github, where it is possible to see public repositories.</p>
            </div>
        </div>
    </div>
</main>

{% endblock %}