{% extends 'base.html' %}
{% load blog_extras widget_tweaks %}
{% load static %}

{% block content %}
    <header class="masthead" style='height:14em; background-image: url("{% static 'img/profile.jpg' %}");'>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1 style="text-align:center; font-size:58px; margin-left: 50px;">Create new post</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article class="mb-4">
        <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1 style="text-align:center; font-weight:normal; font-size: 44px; font-style: italic; margin-left: 50px; margin-top: 50px;">Create new post</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-outline mb-4" style="display: table-row; justify-content: right; align-items: right; margin-top: 35px; padding-right: 60px;">
                        <label class="form-label" for="instagram" style="margin-right: 30px;">Title:</label>
                        {% render_field blog_form.title class="form-control" placeholder="Enter title..." style="width: 700px; height: 50px; margin-bottom:10px; font-style:italic;"%}
                    </div>
                    <div class="form-outline mb-4" style="display: table-row; justify-content: right; align-items: right; margin-top: 35px; padding-right: 60px;">
                        <label class="form-label" for="instagram" style="margin-right: 30px;">Content:</label>
                        {% render_field blog_form.content class="form-control" placeholder="Your article..." style="width: 700px; height: 300px; margin-bottom:10px; font-style:italic;" %}
                    </div>
                    <div class="form-outline mb-4" style="display: table-row; justify-content: right; align-items: right; margin-top: 35px; width: 100%; padding-right: 60px;">
                        <label class="form-label" for="instagram" style="margin-right: 30px;">Summary:</label>
                        {% render_field blog_form.summary class="form-control" placeholder="Enter summary..." style="width: 700px; height: 50px; margin-bottom:10px; font-style:italic;" %}
                    </div>
                    <div class="form-outline mb-4" style="display: table-row; justify-content: right; align-items: right; margin-top: 35px; width: 100%; padding-right: 60px;">
                        <label class="form-label" for="instagram" style="margin-right: 30px;">Tags:</label>
                        {% render_field blog_form.all_tags class="form-control" placeholder="Enter tags to your post..." style="width: 700px; height: 50px; margin-bottom:10px; font-style:italic;"%}
                    </div>
                    <div class="form-outline mb-4" style="display: table-row; justify-content: right; align-items: right; margin-top: 35px; width: 100%; padding-right: 60px;">
                        <label class="form-label" for="instagram" style="margin-right: 30px;">Image:</label>
                        {% render_field blog_form.image class="form-control" style="width: 700px; height: 38px; margin-bottom:10px; font-style:italic;" %}
                    </div>
                    <div class="form-outline mb-4" style="display: table-row; justify-content: right; align-items: right; margin-top: 35px; width: 100%; padding-right: 60px;">
                        <label class="form-label" for="instagram" style="margin-right: 30px;">Date to publish:</label>
                        {% render_field blog_form.published_at class="form-control" style="width: 700px; height: 50px; margin-bottom:10px; font-style:italic;" %}
                    </div>
                    <div class="text-center">
                    <br><button type="submit" class="btn btn-primary" style="border-radius:10px; padding:12px 35px; margin-top:0px;">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
    
    
    
{% endblock %}
