{% extends 'base.html' %}
{% load blog_extras %}
{% load static %}

{% block content %}
    <header class="masthead" style='height:14em; background-image: url("{% static 'img/profile.jpg' %}");'>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1 style="font-size:44px;">Your profile</h1>
                        <span class="subheading">Thank you for being with us!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
            <p>You logged in as {{ request.user.username }}.</p>
            <p><a href="{% url 'logout' %}">Log out</a></p>
            </div>
        </div>
    </div>
    
{% endblock %}
