{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead" style='height:14em; background-image: url("{% static 'img/profile.jpg' %}");'>
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading">
                  <h1 style="text-align:center; font-size:58px; margin-left: 50px;">Login your account</h1>
              </div>
          </div>
      </div>
  </div>
</header>

<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% if error %}
          <div class="text-center" style="color:red;">{{ error }}</div>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="form-outline mb-4" style="display: flex; justify-content: right; align-items: center; margin-top: 35px;">
            <label class="form-label" for="login_username" style="margin-right: 30px;">Your login:</label>
            <input type="text" name="login_username" id="username" class="form-control" placeholder="Enter your username..." style="width: 60%; height: 50px; margin-bottom:10px;  font-style:italic;" />
          </div>
    
          <!-- Password input -->
          <div class="form-outline mb-4" style="display: flex; justify-content: right; align-items: center;">
            <label class="form-label" for="login_password" style="margin-right: 30px;">Your password:</label>
            <input type="password" name="login_password" id="password" class="form-control" placeholder="Enter your password..."  style="width: 60%; height: 50px; font-style:italic;"/>
          </div>
    
          <div class="text-center">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" onclick="login()" style="border-radius:10px; padding:12px 30px; margin-top: 30px;">Log in</button>

            <p><small><a href="#">Forgotten your password?</a></small></p>

            <p style="margin-top:25px; margin-bottom:10px; font-style:italic;">or sign up with:</p>
    
            <button type="button" class="btn btn-primary btn-floating mx-1" style="border-radius:10px; padding:12px 30px; margin-bottom:80px;">
              <i class="fab fa-google"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</article>
<script rel="js" type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}