{% extends 'base.html' %}
{% load blog_extras crispy_forms_tags %}
{% load static %}


{% block content %}
        <!-- Page Header-->

    <header class="masthead" style='background-image: url("{% static 'img/post.jpg' %}");'>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>Count articles: {{number}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container px-4 px-lg-5" style="margin-top: 60px;">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for post in posts %}
                <!-- Post preview-->
                <div class="post-preview">
                        <h2 class="post-title"><a href="{% url 'news_details' post.slug %}">{{ post.title }}</a></h2>
                        </div>
                        {% if post.summary  %}
                        <h3 class="post-subtitle" style="font-weight:normal">{{ post.summary }}</h3>
                        {% endif %}
                    <p class="post-meta">
                        <small>({{ post.content|wordcount }} words)</small>
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                {% endfor %}

                {% include 'paginator.html' with page=posts %}
                
            </div>
        </div>
    </div>

{% endblock %}