{% load crispy_forms_tags blog_extras %}

<h4 style="text-align:center; margin-top: 30px; font-weight: 500; font-size: 38px;">Comments</h4>
{% for comment in post.comments.all %}
    {% row "border-top pt-2" %}
        {% col %}
            <h5>Posted by {{ comment.creator }} at {{ comment.created_at|date:"M, d Y h:i" }} </h5>
        {% end %}
    {% end %}
    {% row "border-top pt-2" %}
        {% col %}
            <p>{{ comment.content }}</p>
        {% end %}
    {% end %}
    {% empty %}
    {% row "border-top border-bottom" %}
        {% col %}
            <p>No comments.</p>
        {% end %}
    {% end %}
{% endfor %}

{% if request.user.is_active %}
    {% row "mt-4" %}
        {% col %}
            {% if comment_form %}
                <h4 style="margin-top:25px; margin-bottom:10px; font-style:italic;">Add Comment</h4>
                <form method="post">
                <div class="text-center">
                    {{ comment_form }}
                    <button type="submit" class="btn btn-primary" style="border-radius:10px; padding:12px 30px;">Send</button>
                </div>
                </form>
            {% endif %}
        {% end %}
    {% end %}
{% endif %}
