{% load crispy_forms_tags blog_extras %}

{% with post.comments.all.count as total_comments %}
<h4 style="text-align:center; margin-top: 50px; margin-bottom: 30px; font-weight: 500; font-size: 38px;">
    {{ total_comments }} comment{{ total_comments|pluralize }}
</h4>

{% endwith %}
{% for comment in post.comments.all %}
    {% row "border-top pt-2" %}
        {% col %}
            <h5>Posted by {{ comment.creator|author_details:request.user }} at {{ comment.created_at|date:"M, d Y h:i" }} </h5>
        {% end %}
    {% end %}
    {% row "border-top pt-2" %}
        {% col %}
            <p>{{ comment.content }}</p>
        {% end %}
    {% end %}
    {% empty %}
    {% row "border-top border-bottom" %}
        {% col %}
            <p>No comments.</p>
        {% end %}
    {% end %}
{% endfor %}

{% if request.user.is_active %}
    {% row "mt-4" %}
        {% col %}
            {% if comment_form %}
                <h4 style="margin-top:25px; margin-bottom:10px; font-style:italic; font-size: 24px;">Add Comment...</h4>
                <div class="text-center" style="display:flex; justify-content: center;">
                    <form method="post">
                        {% csrf_token %}
                        {{ comment_form }}
                        <br><button type="submit" class="btn btn-primary" style="border-radius:10px; padding:12px 35px; margin-top:5px;">Send</button>
                    </form>
                </div>
            {% endif %}
        {% end %}
    {% end %}
{% endif %}
