{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    
    <header class="masthead" style='background-image: url("{% static 'img/about.jpg' %}");'>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Share the post</h1>
                        <span class="subheading" style="font-size:46px;">"{{ post.title }}" by e-mail</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% if sent %}
                        <div class="text-center">"{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.</div>
                    {% else %}
                        <form action="." method="post">   
                            {% csrf_token %}
                            <div class="form-floating">
                                {% render_field form.name class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required"%}
                                <label for="name">Name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <div class="form-floating">
                                {% render_field form.email class="form-control" id="email" type="email" placeholder="Enter email..." data-sb-validations="required"%}
                                <label for="name">Email</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A email is required.</div>
                            </div>
                            <div class="form-floating">
                                {% render_field form.to class="form-control" id="phone" type="email" placeholder="Enter friend email..." data-sb-validations="required"%}
                                <label for="phone">To</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A email is required.</div>
                            </div>
                            <div class="form-floating">
                                {% render_field form.comments class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 12rem" %}
                                <label for="message">Comments</label>
                            </div>
                            <br />

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block mb-4" style="border-radius:10px; padding:12px 30px; margin-top: 30px;">Send e-mail</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
    
{% endblock %}
