{% extends 'base.html' %}
{% load blog_extras widget_tweaks %}
{% load static %}

{% block content %}
    <header class="masthead" style='height:14em; background-image: url("{% static 'img/profile.jpg' %}");'>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1 style="text-align:center; font-size:58px; margin-left: 50px;">Your profile</h1>
                        <span class="subheading" style="text-align:center; font-size:30px; margin-left: 50px;">Thank you for being with us!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center" style="margin-left:20px;">
            <div class="col-md-10 col-lg-8 col-xl-7">
            <p>You logged in as {{ request.user.username }}.</p>
            <a href="{% url 'profile_information' %}">Update Profile</a>
            <p><a href="{% url 'logout' %}">Log out</a></p>
            </div>
        </div>
    </div>
    <div class="text-center" style="margin-top: 50px; margin-left:50px;">
    <h1>All your posts</h1>
    </div>

    <div class="container px-4 px-lg-5" style="margin-top: 60px;">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for post in posts %}
                <div class="post-preview">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-meta">
                        {% if post.published_at %}
                        <a href="{% url 'posts' post.slug %}" style="margin-left:50px; width: 200px;">allready published!</a>
                            {% else %}
                        <a href="{% url 'edit_post' post.slug %}" style="margin-left:50px">have not published yet!</a>
                            {% endif %}
                    </p>
                <hr class="my-4" />
                {% endfor %}                
            </div>
        </div>
    </div>

    <div class="text-center" style="margin-bottom: 110px; margin-top: 50px; margin-left: 50px;">
        <!-- Submit button -->
        <strong><a href="{% url 'add_new_post' %}" style="border-radius:10px; padding:13px 30px; background: #0085A1;">
            Add new post
        </a></strong>
    </div>

    
{% endblock %}
